<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
<title>Difference - Compare texts</title>
</head>
<body>
<div id="navbar">
<ul><li><a href="/index">Home</a></li>
<li><a href="/compare">Compare</a></li>
<li><a href="/about">About</a></li>
</ul>
</div>
<div id="maincontent">
<form method="post" action="difference">
  <div id="original"><p>Original text</p><textarea cols="100" rows="20" name="old" value=""></textarea></div>
  <div id="compare"><p>Text to be compared against</p><textarea cols="100" rows="20"  name="new" value=""></textarea></div>
  <div><input type="submit" value="Compare Texts" class="button" /></div>
</form>
</div>
<div id="footer"><!-- Open Knowledge Link -->
 <a href="http://opendefinition.org/">
 <img alt="This material is Open Knowledge" border="0"
  src="http://assets.okfn.org/images/ok_buttons/ok_80x15_blue.png" /></a>
<!-- /Open Knowledge Link --></div>
</body>
</html>