<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
<title>Difference</title>
</head>
<body>
<div id="navbar">
<ul><li><a href="/index">Home</a></li>
<li><a href="/compare">Compare</a></li>
<li><a href="/about">About</a></li>
</ul>
</div>
<div id="maincontent">
<p>This is a web service which allows the user to compare two texts and to respond with any differences between them</p>
</div>
<div id="footer"><!-- Open Knowledge Link -->
 <a href="http://opendefinition.org/">
 <img alt="This material is Open Knowledge" border="0"
  src="http://assets.okfn.org/images/ok_buttons/ok_80x15_blue.png" /></a>
<!-- /Open Knowledge Link --></div>
</body>
</html>